<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/base.css">


</head>
<body>

    <div class="dowebok">

        <form method="post" action="/dologin" onsubmit="return onSubmit(true)">

            <div class="logo"></div>
            <div class="form-item">
                <input id="account" name="account" type="text" autocomplete="off" placeholder="账号">
                <p class="username_tip tip">请输入合法的账号</p>
            </div>
            <div class="form-item">
                <input id="password" name="password"  type="password" autocomplete="off" placeholder="登录密码">
                <p class="password_tip tip">账号或密码不正确</p>
            </div>

            <div class="form-item">
                <button id="submit" class="submit">登 录</button>
            </div>

        </form>

        <div class="reg-bar">
            <a class="reg" href="#" >立即注册</a>
            <a class="forget" href="#">忘记密码</a>
        </div>
    </div>


    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/base.js"></script>

</body>
</html>